.ce-chat-engine {
    
    position: fixed;
    width:100%;
    height:100%;
    padding-left:100px;
    padding-right:100px;
    padding-top: 5%;
    top: 10%;
    left: 0%;
    background-image: url('https://media.discordapp.net/attachments/849173762083651646/932226796521414656/1601031.png?width=921&height=658');
    
}

div.ce-chat-title-text {
    color: rgb(116, 66, 231);
}

div.ce-message-bubble {
    color:aliceblue;
    background-color:rgb(116, 66, 231);
}
div.ce-section-title-container {
    color: rgb(116, 66, 231);
}

div.ce-autocomplete-option {
    color:rgb(116, 66, 231);
}

div.ce-settings {
    color: rgb(116, 66, 231);
}

div.ce-chat-form-container {
    color: rgb(116, 66, 231);
}

.ant-notification.ant-notification-topRight {
}